@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    @apply bg-zinc-900 h-full overflow-hidden ;
}

#__next {
    @apply h-full;
}

html {
    @apply h-full;
} */



.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
  position: relative;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
